@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Wow! It looks like you got the applicaiton working!</a>.</p>
        <p>Enjoy this Porsche Picture!</p>
        <img src="/images/Porsche-991-GT3-RS.jpg" alt="Girl in a jacket" width=100%>
    </div>
